body{
    margin:0;
}

.div_0{
    display: flex;
    height: 100%;
    width:100%;
}

.div0_1{
    display: inline-block;
    height: 100%;
    width:20%;
    background-color: #00aff0;
}

.div0_2{
    display: inline-block;
    height: 100%;
    width:80%;
    background-color: white;
}

.profile{
    background-color: inherit;
    height: auto;
    width:auto;
    display: flex;
    justify-content: center;
}

.pic{
    width:150px;
    height:150px;
    border-radius:80px;
    margin-top: 30px;
}

.detail{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 0px;
    height:auto;
    width:auto;
    color:#00aff0;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.p1{
    background-color: inherit;
    font-size: 25px;
    margin: 0%;
    width: 50px;
    padding-bottom: 5px;
}

.p2{
    background-color: inherit;
    font-size: 20px;
    margin: 0%;
    width: 50px;
}

.panel
{
    height: auto;
    width: auto;
    background-color: white;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0.5rem;
    display: flex;
}

.panel_next
{
    height: auto;
    width: auto;
    background-color: white;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0.5rem;
    display: flex;
}

.option{
    height: auto;
    width: auto;
    background-color: #00aff0;
}

.setting
{
    height: 100%;
    width: 4%;
    float: right;
    background-color: inherit;
    overflow: hidden;
}

.s_img{
    height: 100%;
    width: 100%;
}
.dropdown
{
    height: 5%;
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
  
    display: block;
    position: absolute;
    background-color: #00aff0;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 10px;
    z-index: 1;
    right:0;
}
.dropdown-content a {
    color: white;
    padding: 12px ;
    text-decoration: none;
    display: block;
  }
.dropdown a:hover {background-color: white; color: #00aff0; border: solid 1px white;}

.show {display: block;}
.dropbtn {
    background-color: #00aff0; 
    color: white;
    font-weight: bold;
    /* padding: 15px;  */
    font-size: 25px;
    padding-right:5px;
    border: none;
    cursor: pointer;
      
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color: #00aff0;
  }

.btn1
{
    color: white;
    background-color: #00aff0;
    font-size: 16px;
    border: solid 1px #00aff0;
    border-radius: 30px;
    padding: 5px 20px;
}
.btn1:hover
{
    cursor: pointer;
    color: #00aff0;
    background-color: white;
    border: solid 1px white;
}

.bx{
    width: 200px;
    text-align: center;
    color: white;
    font-size: 25px;
    height: 35px;
    background-color: #00aff0;
    border-radius: 0.5em;
    display: inline-block;
    margin:10px;
}

.text{
    padding-top:5px;
}

td{
	padding : 10px;
}

.details{
	color:white;
	text-size:30px;
	padding-left:10px;
	
}

.dbx{
	display:flex;
}